@charset "UTF-8";

*{
    padding:0;
    margin:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #4e8bdb;
    /* background-image: linear-gradient(to top , #5395EC,#2F5586); */
    height:100vh;
}

header{
    padding:20px;
    text-align: center;
    display:flex;
    flex-direction: column-reverse;
}

header h1{
    font-size:2.2em;
    color:#fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.438);
    margin: 10px 0px;
}

img[alt="foto_perfil"]{
    display: block;
    width: 200px;
    margin: 20px auto;
    border-radius:50%;
}

.social_network img{
    width:50px;
    margin: 0px 10px;
    border-radius: 50%;
}


main{
    
    width:90%;
    margin:10px auto;
    padding:10px;
}

main p{
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.projects div{
    max-width:500px;
    margin:30px;
    height:600px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}

.projeto_mario{
    background-image:  url("../imagens/projeto_mario.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
}
.projeto_android{
    background-image:  url("../imagens/projeto_android.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
}
.projeto_cordel{
    background-image:  url("../imagens/projeto_cordel.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
}



.projects a{
    display:block;
    margin:auto;
    text-align: center;
    text-decoration: none;
    color:#203653;
    font-weight: bold;
}

.projects a:hover{
    color: #0b131d;
}